<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
     @*header*@ 
    <div style="background-color:dimgray; padding:10px;">
        Home | Products | News | About Us
    </div>

    <div>
        <h1>
            @RenderBody()
        </h1>
    </div>

    @*footer*@
    <div style="background-color:aquamarine; padding:10px;">
        Footer

    </div>
</body>
</html>
